[Unit]
Description=Virtual machine log manager socket
Before=libvirtd.service

[Socket]
ListenStream=/usr/local/var/run/libvirt/virtlogd-sock

[Install]
WantedBy=sockets.target
